.SearchBarsContainor {
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    transform: translateX(-25px);

  }
  .SearchBar {
    margin: 0 10px; 
  }
  
  .Space {
    width: 75px; 
  }
  body {
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .LogoContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%; /* Adjust width as needed */
}

.LogoContainer img {
    width: 80%; /* Set the image width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* or any other value based on your preference */
    display: block;
    margin: auto;
}
.ErrorMessage {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 65%;
  width: 95%;
}
.ErrorMessage p {
  color: red; 
  font-size: 14px; 
}


.SquareButtonContainor {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  width: 95%;
}
