.SearchBarsContainor {
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    transform: translateX(-25px);

  }
  .SearchBar {
    margin: 0 10px; 
  }
  
  .Space {
    width: 75px; 
  }
  body {
    background-image: url("../public/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  