.map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .wrapper {
    height: 100%;
    width: 100%;
    
  }
  .icons {
    max-width: 100%; 
    position: relative;
    top: -30px; 
  }
  
  
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .arrow-icon {
    background-color: white;
    border: none;
    z-index: 10;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    left: 79%;
    position: absolute; 
}

.search-icon-tooltip {
  position: absolute;
  bottom: -25px;
  left: 50%;
  background-color: #333;
  color: #fff; 
  padding: 5px;
  border-radius: 5px;
  display: none;
  white-space: nowrap; 
  overflow: hidden;   
  text-overflow: ellipsis;
}

.arrow-icon:hover .search-icon-tooltip {
    display: block;
    z-index: 12;
}


.tooltip {
    position: absolute;
    bottom: -25px;
    left: 0%;
    background-color: #333;
    color: #fff; 
    padding: 5px;
    border-radius: 5px;
    display: none;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis; 
  }
  
 .Error {
  position: absolute;
  bottom: -25px;
  left: 0%;
  color: #fff; 
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 13;
 } 
  .arrow-icon:hover .tooltip {
    display: block;
    z-index: 12;
  }